bdoy {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 900px;
    height: 600px;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}
a em {
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}
a.api {
    font-size:1em;
    text-decoration:underline;
}
a.accesskey {
    color: white;
}
a.accesskey:focus {
    color: #436976;
}
a.zoom {
    padding-right: 20px;
}